h2{
    color: #555;
    font-weight: 400;
}

.container{
    
}

.form_wrap{
    background-color: #ecdfdf;
    width: 100%;
    height: auto;
    margin: 0px 0;
    padding: 60px 0 60px 0;
    border-radius: 20px;
    text-align: center;
}

.post_wrap{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

input,.label_border,textarea,select{
    background-color: #f9f6f6;
    border:solid 0.5px #A9A9A9;
}

.label_border{
    border-radius:5px;
    width: 412px;
    height: 412px;
}

label{
    color: #555;  
    background-color: #eee;
    width: 230px;
    text-align: center;
    padding: 10px 15px;
    border:solid 0.5px #A9A9A9;
    border-radius: 23px;
    margin: 154px auto;
    display: block;
}

label:hover {
    color: #fff;  
    background-color: #A9A9A9;
    width: 230px;
    text-align: center;
    padding: 10px 15px;
    border:solid 1px #A0A0A0;
    border-radius: 23px;
    margin: 154px auto;
    display: block;
}

input{
    margin-bottom: 20px;
    display: block;
    width: 360px;
    height:43px;
    padding:0 15px; 
    outline:0;
    border-radius:4px;
    font-size: 15px;
}

select{
    display: flex;
    width: 300px;
    height:35px;
    padding:0 15px; 
    margin: 10px 0;
    outline:0;
    border-radius:4px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

textarea{
    margin: 20px auto 0 auto;
    display: block;
    width: 430px;
    height:250px;
    padding: 15px 10px; 
    outline:0;
    border-radius:5px;
    font-size: 15px;
    resize: none;
    color: #555;
}

.submit_btn:hover{
    color: #fff;  
    background-color: #c89393;
    width: 190px;
    height: 60px;
    padding: 13px 15px;
    border:solid 2px #c89393;
    border-radius: 40px;
    margin: 70px auto 0 auto;
    display: block;
    font-size: 18px;
}

.submit_btn{
    color: #555;  
    background-color: #eee;
    width: 190px;
    height: 60px;
    padding: 13px 15px;
    border:solid 2px #828282;
    border-radius: 40px;
    margin: 70px auto 0 auto;
    display: block;
    font-size: 18px;
}

/* 新規投稿完了画面　*/

.comp_form_wrap{
    background-color: #f0e6e6;;
    width: 95%;
    height: auto;
    margin: 185px 0;
    padding: 60px 0 60px 0;
    border-radius: 20px;
    text-align: center;
}

.comp_h2{
    margin-bottom: 80px;
}

.comp_a{
    margin: 30px 0;
}

.comp_a a{
    border-bottom: solid 0.5px #555;
    font-size: 17px;
}
.comp_a a:hover {
    border-bottom: solid 0.5px #555;
    font-size: 17px;
    opacity: 0.7;
}

.comp_form_wrap2{
    background-color: #f0e6e6;;
    width: 95%;
    height: auto;
    margin: 185px 0 235px 0;
    padding: 60px 0 60px 0;
    border-radius: 20px;
    text-align: center;
}